* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(233, 190, 153);
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100px;
  margin: 5px;
  text-align: center;
  font-size: 1.5em;
}
p {
  display: block;
  margin: 25px;
  text-align: center;
  font-size: 3em;
}
.clear {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  outline: none;
  width: 100px;
  height: 50px;
  font-size: 1.5em;
}